<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="console" target="SYSTEM_OUT">
            <PatternLayout
                    pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t]  %c{1} - %msg%n" />
        </Console>
    </Appenders>
    <Loggers>
        <Root level="DEBUG" additivity="false">
            <AppenderRef ref="console" />
        </Root>

        <Logger name="com.uj.rcbackend.nettypart" level="DEBUG" additivity="false" >
                <AppenderRef ref="console" />
        </Logger>

        <Logger name="com.uj.rcbackend.fileservicepart" level="DEBUG" additivity="false" >
            <AppenderRef ref="console" />
        </Logger>


        <Logger name="com.uj.rcbackend.commandinvokerpart" level="DEBUG" additivity="false" >
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="javax.jmdns" level="error" additivity="false" >
            <AppenderRef ref="console" />
        </Logger>

        <Logger name="com.zaxxer.hikari" level="error" additivity="false" >
            <AppenderRef ref="console" />
        </Logger>




    </Loggers>
</Configuration>